<div class="footer" id="footer">
	<div class="footer_border">
	<div class="footer_1">
	<div class="payment">
		<%= image_tag "payment1.png" %>
		<%= image_tag "payment2.png" %>
		<%= image_tag "payment3.png" %>
		<%= image_tag "payment4.png" %>
		<%= image_tag "payment5.png" %>
	</div>
	<div class="menu">
		<div class="menu-item">
			<%= link_to "О НАС", {:action => "about", :controller => "main"}%>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<%= link_to "НОВОСТИ", {:controller => "news" ,:action => "index" }%>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<%= link_to "ПОДДЕРЖКА", {:action => "blank" ,:controller => "main"}%>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<%= link_to "КОНТАКТЫ", {:action => "contacts" ,:controller => "main"}%>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<%= link_to "РАБОТА У НАС", {:action => "work",:controller => "main" }%>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<%= link_to "ДОКУМЕНТЫ", {:action => "docs",:controller => "main" }%>
		</div>
	</div>
	<div class="social">
		<%= link_to image_tag ("social1.png"), "http://vk.com/public41765940" %>
		<%= link_to image_tag ("social2.png"), "http://twitter.com/Adpeppers" %>
		<%= link_to image_tag ("social3.png"), "http://www.facebook.com/pages/Adpeps/423738674334489" %>
	</div>


</div>
	</div>
	<div class="footer_2">
		© 2012 AdPEPS Advertising network (Мобильная рекламная сеть)
		<div class="subscribe">
			ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ

		<%= text_field "","", :placeholder =>"ВВЕДИТЕ E-MAIL",:size=>20, :class =>"text" %>
		<%= submit_tag "ПОДПИСАТЬСЯ",  :class =>"button" %>
			</div>
	</div>
</div>

<%if defined?(inc_script) %>
	<script type="text/javascript">
	curPage=10;
	</script>
<%end%>
