<div id="page10">

<div style="width: 600px; margin:0 auto;">
<h3>Что мы предлагаем рекламным площадкам?</h3>
<ul style="list-style:decimal;">
	<li>
		<b>Простой инструментарий и подробное описание</b><br/>
		<p>
			SDK для iOS, Android, код для мобильных площадок<br/>
			<%= image_tag "oss.png", :width => '246px', :height=>'67px'%>
		</p>
		<br/>
	</li>
	<li>
		<b>Самые эффективные типы мобильной рекламы</b><br/>
		<p>
		Автоматический выбор размеров текстовых, графических баннеров в зависимости от устройства пользователя.<br/>
		<%= image_tag "bannersize.png", :width => '494px', :height=>'101px'%>
		</p>
		<br/>
	</li>
	<li>
		<b>Высокая доходность</b><br/>
		<p>
		Мы выбираем только качественных рекламодателей, отслеживая CPM кампаний.<br/>
		<%= image_tag "statcpm.jpg", :width => '500px', :height=>'111px'%>
		</p>
		<br/>
	</li>
	<li>
		<b>Удобный вывод средств</b><br/>
		<p>
		Оплата до 10 числа каждого месяца через Yandex money, Webmoney, на расчетный счет.<br/>
		<%= image_tag "payments.png", :width => '200px', :height=>'30px'%>
		</p>
		<br/>
	</li>
	<li>
		<b>Доступ к статистике</b><br/>
		<p>Детальная статистика по каждой площадке в удобном интерфейсе.<br/>
		<%= image_tag "statrc.jpg", :width => '483px', :height=>'187px'%>
		</p>
		<br/>
	</li>

</ul>
</div>
</div>
<%= render :partial => "footer", :locals=>{:inc_script => true}%>
