<div id="page3">
<h1 style="color: #313c41;">Интересные факты</h1>
<div class="facts">
	<% @news.each do |n| %>
<div>
	<%= image_tag n.img_url %><br/>
	<h2><%= n.title %></h2><br/>

	<%=raw n.post_short(25) %>
</br>
	<%= link_to "ЧИТАТЬ ДАЛЕЕ", n %>

</div>
	<% end %>
</div>
</div>
<div class="partners">
	<div class="partners2">
	<%= image_tag "/assets/partners1.png" %>
	<%= image_tag "/assets/partners2.png" %>
	<%= image_tag "/assets/partners3.png" %>
	<%= image_tag "/assets/partners4.png" %>
	<%= image_tag "/assets/partners5.png" %>
</div>
</div>
<div id="page3bottom"></div>