<div class="blocks">
	<div class="youtube">
			<h3>БОЛЕЕ ОДНОГО МИЛЛИОНА МОБИЛЬНЫХ ПОЛЬЗОВАТЕЛЕЙ</h3>
			<iframe width="640" height="390" src="http://www.youtube.com/embed/ZbDxskRHX3A" frameborder="0" allowfullscreen></iframe>
			<h1>МОБИЛЬНАЯ РЕКЛАМА ДЛЯ ВАШЕГО БИЗНЕСА</h1>
			<h2>ПРОСТО КАК РАЗ-ДВА-ТРИ!</h2>
		</div>
	<div class="side">
		<div class="iphone2">
		<div class="iphone">
			<%= image_tag "iphone.png" %>
		</div>
		</div>
		<div class="icons">
			<%= image_tag "btn1.png", :class => "zoom_js", :onclick=>'move_iphone("14px");' %>
			<%= image_tag "btn2.png", :class => "zoom_js", :onclick=>'move_iphone("-166px");' %>
			<%= image_tag "btn3.png", :class => "zoom_js", :onclick=>'move_iphone("-346px");' %>
			<%= image_tag "btn4.png", :class => "zoom_js", :onclick=>'move_iphone("-526px");' %>
		</div>
	</div>
</div>
	<div id="page0bottom" class="bottom_link">
			<a href="#" onClick="javascript: activatePage(1);">НАЧАТЬ ОЧЕНЬ ПРОСТО!</a>
		</div>