<div id="page10">
<h3>Поддержка</h3>
Любые вопросы вы можете прислать на электронный адрес: Или заполнить формы на сайте. Мы обязательно вам ответим. <br/>

<% if request.post? %>
<br/>Спасибо, Ваше сообщение отправлено. <br/>
<% else %>
<%= form_tag('') do -%>
<p>
<%= text_field "surname","", :placeholder =>"Фамилия",:size=>20, :class =>"text" %>
</p>
<p>
<%= text_field "name","", :placeholder =>"Имя",:size=>20, :class =>"text" %>
</p>
<p>
<%= text_field "email","", :placeholder =>"E-mail",:size=>20 %>
</p>
<p>
<%= text_area "message","", :placeholder =>"Вопрос",:size=>20, :row => 4 %>
</p>
<br/>
<%= submit_tag "ОТПРАВИТЬ",  :class =>"button" %>

<% end -%>
<% end %>
</div>
<br/>
<%= render :partial => "footer", :locals=>{:inc_script => true}%>
