<div id="page10">
<h3>Новости</h3>

<table>

<% @news.each do |news| %>
  <tr>
    <td><%= image_tag news.img_url, :style => "width:300px;height:168px;"%></td>
    <td><b><%= news.title %></b><br/><br/>
    <%= news.post_short(50) %><br/><br/><%= link_to 'далее', news %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%= render :partial => "main/footer", :locals=>{:inc_script => true}%>
