<div id="page10">
<p id="notice"><%= notice %></p>

<h3>  <%= @news.title %></h3>

	<%= image_tag @news.img_url %> <br/><br/>
	<p>
  <%= @news.post %>
</p>
</div>
<%= render :partial => "main/footer", :locals=>{:inc_script => true}%>


