<!DOCTYPE html>
<html>
<head>
  <title>AdpepsFrontend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="body2">
	<div class="header">
		<div class="logo">
			<a href="#"><%= image_tag "logo.png" %></a>
		</div>
		<div class="menu">
			<div class="menu-item">
				<a href="#">МОБИЛЬНАЯ РЕКЛАМА</a>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="menu-item">
				<a href="#">ПЛОЩАДКАМ</a>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="menu-item">
				<a href="#">ВОПРОСЫ</a>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="menu-item">
				<a href="#">КОНТАКТЫ</a>
			</div>
		</div>
		<div class="menu-right">
			<div class="login">
				<a href="#">ВОЙТИ</a> или <a href="#">ЗАРЕГИСТРИРОВАТЬСЯ</a>
			</div>
			<div class="lang">
				RUS
				<a href="#">ENG</a>
			</div>
		</div>
	</div>

</div>
	<div class="content">
	<%= yield %>
</div>


	<div class="rocket">
		<ul>
			<li id='page0rocket' class="active" onClick="javascript: activatePage(0);">
				<a href="#" onClick="javascript: activatePage(0);">1</a>
			</li>
			<li id='page1rocket' onClick="javascript: activatePage(1);">
				<a href="#" onClick="javascript: activatePage(1);">2</a>
			</li>
			<li id='page2rocket' onClick="javascript: activatePage(2);">
				<a href="#" onClick="javascript: activatePage(2);">3</a>
			</li>
			<li id='page3rocket' onClick="javascript: activatePage(3);">
				<a href="#" onClick="javascript: activatePage(3);">4</a>
			</li>
		</ul>
		<div id="rocket_png" class="active"></div>
	</div>

</div>
<div class="footer" id="footer">
	<div class="footer_border">
	<div class="footer_1">
	<div class="payment">
		<%= image_tag "payment1.png" %>
		<%= image_tag "payment2.png" %>
		<%= image_tag "payment3.png" %>
		<%= image_tag "payment4.png" %>
		<%= image_tag "payment5.png" %>
	</div>
	<div class="menu">
		<div class="menu-item">
			<a href="#">О НАС</a>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<a href="#">НОВОСТИ</a>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<a href="#">ПОДДЕРЖКА</a>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<a href="#">КОНТАКТЫ</a>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<a href="#">РАБОТА У НАС</a>
		</div>
		<div class="divider">&nbsp;</div>
		<div class="menu-item">
			<a href="#">ДОКУМЕНТЫ</a>
		</div>
	</div>
	<div class="social">
		<%= image_tag "social1.png" %>
		<%= image_tag "social2.png" %>
		<%= image_tag "social3.png" %>
	</div>
</div>
</div>
<div class="footer_2">
	© 2012 AdPEPS Advertising network (Мобильная рекламная сеть)
	<div class="subscribe">
		ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ

	<%= text_field "","", :placeholder =>"ВВЕДИТЕ E-MAIL",:size=>20, :class =>"text" %>
	<%= submit_tag "ПОДПИСАТЬСЯ",  :class =>"button" %>
		</div>
</div>
</div>
</body>
</html>
